body{
margin: 100px;
font-family: benton-sans, sans-serif;
font-weight: 300;
font-style: normal;
}
.grid_parent {
    display: grid;
    grid-template-columns: [start] 1fr 1fr 1fr [end];
    grid-gap:1em;
    grid-auto-rows: minmax(200px,auto);
    align-items:stretch;
}



.openingimage{
    grid-column: 2/4;
    background-color:green;
    
   
}
.companydescription{
    grid-column: 2/4;
}
.socialmission{
    grid-column:1/2;
    background-color:blue;
    text-align:right;
}
.GambianTea{
    grid-column:1/2;
    background-color:pink;
    text-align:right;
}
.boat{
    grid-column:2/3;
}
/*
li{
    float:left;
    text-align: right;
    list-style: none;
*/


h1{
    font-size: 20px;
    font-weight: 400;
}




/*
font-family: benton-sans, sans-serif;
font-weight: 300;
font-style: normal;


Benton Sans Book
font-family: benton-sans, sans-serif;
font-weight: 400;
font-style: normal;


Benton Sans Regular
font-family: benton-sans, sans-serif;
font-weight: 500;
font-style: normal;


Benton Sans Medium
font-family: benton-sans, sans-serif;
font-weight: 600;
font-style: normal;


Benton Sans Bold
font-family: benton-sans, sans-serif;
font-weight: 700;
font-style: normal;
*/


 
